body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}
img {
  border-radius: 50%;
}
 /* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #6f8a90;
  border-radius: 15%
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
 
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #f9fdfe;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
} 
